#{extends 'main.html' /} #{set title:'关于我们' /}
<div class="container">
	<h3>关于我们</h3>
	<h4>(一)马甲号适用的场景</h4>
	1.&nbsp;跳过一些论坛的下载/查看 必须注册的限制.<br>2.&nbsp;常常忘记自己的马甲号，何不分享马甲让别人来帮你记马甲.<br>3.&nbsp;因为注册了马甲号，邮箱里常常受到广告，用马甲无压力.<br>4.&nbsp;马甲号更好的保护自己的信息，能偷偷地看她(他).
	<h4>(二)联系我们</h4>
	<p>
		如果你有任何的建议或者反馈信息，请联系<b>majiahao_hz@sina.com</b>，或到<code><a
			href="http://majiahao.uservoice.com/knowledgebase/">majiahao用户论坛</a></code>留言,我们将及时处理并给予回复。
		<br>当然也可以直接关注我们的新浪微博&nbsp;<code><a href="http://weibo.com/51majiahao/">http://weibo.com/51majiahao</a></code>，给我们留言。
	</p>
	<h4>(三)我们是谁</h4>
	<p>我们是一群由码畜，码奴，码农组成的团队.</p>
	<h4>(四)帮助我们</h4>
	<p>我们需要美工, 联系我们的新浪微博</p>
</div>