#{extends 'main.html' /} #{set title:'添加马甲  马甲号 -人人为我，我为人人' /}
<div class="container">
	<legend>
		<small>添加帐号</small>
	</legend>
	<form class="form-inline" action="@{Application.addMaJia}" method="post"
		accept-charset="utf-8">
		<p>
			<input type="text" id="url" name="url"
				value="${flash.url}" class="input-large" placeholder="网址"> <input
				type="text" id="majiaID" name="majiaID" value="${flash.majiaID}"
				class="input-large" placeholder="马甲帐号"> <input type="text"
				id="majiaPwd" name="majiaPwd" value="${flash.majiaPwd}"
				class="input-large" placeholder="密码"> <label
				class="checkbox"> </label>
			<button type="submit" class="btn">分享吧</button>
			&nbsp;&nbsp; #{if flash?.error}<code><span>${flash.error}
			</span>#{/if}</code>  #{if flash?.success}<code><span>
				${flash.success} </span></code>#{/if}
	</form>
</div>