#{extends 'main.html' /} #{set title:'使用帮助' /}

<div class="container">
	<h3>使用帮助</h3>
	<h4>(一)背景</h4>
	<p>
		当你到网上搜索一本关于编程的电子书的时候，然后Google或者Baidu带你到了拼吾爱论坛(<a
			href="http://www.pin5i.com/showtopic-shadow-algorithms-data-miner.html">http://www.pin5i.com</a>)，你可能会发现这句讨厌的话:"<b>你需要登录才可以下载或查看附件。没有帐号?注册</b>"，
		填资料..，收邮箱....，验证...... <br>跳过注册吧，到马甲号(
		<code>
			<a href="http://www.majiahao.com/">www.majiahao.com</a>
		</code>
		)寻找你所需的马甲号，分享你的马甲号吧!

	</p>
	<h4>(二)搜索马甲</h4>
	<p>
		1.&nbsp;记录你需要访问的网站，例如 &nbsp;<a
			href="http://www.pin5i.com/showtopic-shadow-algorithms-data-miner.html">http://www.<b>pin5i.com</b>/showtopic-shadow-algorithms-data-miner.html
		</a>&nbsp;，那么你只需CTRL+V<b>网址</b>或<b>pin51.com</b> <br> 2.&nbsp;访问马甲号
		<code>
			<a href="http://www.majiahao.com/">www.majiahao.com</a>
		</code>
		<br> 3.&nbsp;在网址输入框中，输入步骤1中的&nbsp;<b>网址</b>或<b>pin5i.com</b>&nbsp;，点击Go!。
		<br> 4.&nbsp;现在，你应该可以看见若干个<b>马甲号</b>和<b>密码</b>，请记住其中的一对(CTRL+C/CTRL+V).
		<br> 5.&nbsp;再回到步骤1的那个网址，用刚才获得的<b>马甲号</b>和<b>密码</b>，登录吧. <br>6.&nbsp;如果人品好的话，你就可以顺利下到你所需要的电子书了.
	</p>
	<h4>(三)注册马甲</h4>
	<p>
		1.&nbsp;访问马甲号
		<code>
			<a href="http://www.majiahao.com/">www.majiahao.com</a>
		</code>
		<br> 2.&nbsp;在网址输入框中，输入邮箱网址如<b>126.com</b> ，点击Go!。 <br>
		3.&nbsp;记住步骤2搜索到的邮箱的<b>马甲号</b>和<b>密码</b>，确认邮箱可用。 <br>
		4.&nbsp;在需要注册的网站的资料中填入步骤3的确认的邮箱地址. <br> 5.&nbsp;访问步骤3里的邮箱，确认激活邮箱.
		<br> 6.&nbsp;恭喜你，你的马甲注册成功了.
	</p>
	<h4>(四)分享马甲</h4>
	<p>
		1.&nbsp;访问马甲号
		<code>
			<a href="http://www.majiahao.com/">www.majiahao.com</a>
		</code>
		<br> 2.&nbsp;方法一:点击底部<b>分享马甲</b>的链接，在马甲输入框里输入:网址如:qq.com，马甲号，密码，点击分享吧 按钮.
		<br> 3.&nbsp;方法二:在主页搜索网址如:qq.com".然后在搜索结果页的底部有分享帐号的输入框,填入:马甲号,密码，点击分享吧按钮.
	</p>
		<h4>(五)使用建议</h4>
	<p>
		1.&nbsp;请使用非IE核心的浏览器访问马甲号
		<code>
			<a href="http://www.majiahao.com/">www.majiahao.com</a>
		</code>,请使用如:firefox,opera,chrome，或基于Chromium/webkit内核的浏览器.
		<br>2.&nbsp;如果你查询域名如<a href="http://tech.163.com/">tech.163.com</a>(网易的科技频道)时,无法搜到你所需要的马甲号,那么请尝试这个域名的母域名<a href="http://163.com/">163.com</a>,这样您应该就可以得到你所需要的马甲了.
		<br>3.&nbsp;如果本页无法解决你的问题，请访问我们的<code><a
			href="http://majiahao.uservoice.com/knowledgebase/">majiahao用户论坛</a></code>留言,我们将及时处理并给予回复。
	</p>
	<h4>(六)免责声明</h4>
	<p>
		详细请点击这里
		<code>
			<a href="@{Application.mianze}">这里</a>
		</code>
	</p>
</div>