<!DOCTYPE html>

<html>
<head>
<title>#{get 'title' /}</title>
<meta name="description" content="马甲号网:一站式提供寻找马甲，分享马甲，聚类马甲，网址导航等服务">
<meta name="keywords" content="马甲号，马甲号网，马甲，majiahao，majiahao.com，马甲号团队，寻找马甲，分享马甲">
<meta name="author" content="马甲号网">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/pear.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/bootstrap.css'}">
#{get 'moreStyles' /}
<link rel="shortcut icon" type="image/png"
	href="@{'/public/images/favicon.png'}">
<script src="@{'/public/javascripts/jquery-1.8.2.min.js'}"
	type="text/javascript" charset="utf-8"></script>
#{get 'moreScripts' /}
</head>
<body>
	<div class="container">
		<div>
			<h1>
				<span id="logo"><a href="@{Application.index(1)}">马甲·号<SUP><small>测试版</small></SUP></a></span>
			</h1>
			<!--  <h3><small>-跳过注册吧</small></h3>-->
		</div>
		<hr />
		#{doLayout /}

		<div align="left" itemscope itemtype="http://schema.org/Thing">
			<footer>
				<p>
					<a href="@{Application.index(1)}" temprop="url"><span itemprop="name">首页</a></span>&nbsp;<a
						href="@{Application.addIndex}" temprop="url"><span itemprop="name">分享马甲</a></span><!--  &nbsp;<a
						href="@{Application.plaza}">马甲广场</a>-->&nbsp;<a
						href="@{Application.mianze}" temprop="url"><span itemprop="name">免责声明</a></span>&nbsp;<a
						href="@{Application.tutorial}" temprop="url"><span itemprop="name">使用帮助</a></span>&nbsp;<a
						href="@{Application.aboutUs}" temprop="url"><span itemprop="name">联系我们</a></span>
				<p>
			</footer>
		</div>
	</div>
</body>
</html>
